@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/inter-v3-latin-400.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-400.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/inter-v3-latin-500.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/inter-v3-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-700.woff') format('woff');
}

/* in addition to shortcode to make images responsive */
.image img {
  @apply h-full w-full object-cover
}